<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You are welcome to a blank word!</h1>
    <p class="secret-text">Feel free to write a post, upload your cat picture or upload that horrible video.</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/posts" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
